html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.suggestion {
  color: #ec4add;
  text-shadow: -2px 2px #5f005f, -3px 3px #5f005f;
  font-size: 1.3em;
  text-align: center;
  padding: 0.5em;
  font-family: 'Press Start 2P', cursive;
}
